* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7ff;
}

.bgTop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.bgTop img {
  height: 100%;
  max-height: 500px;
}

.bgBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.title {
  color: #6c6e87;
  font-size: 1.5em;
}

.toggleText {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.toggleText {
  color: #b8b9c7;
}

.toggleBox {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 2em;
}

.toggleBox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: 0.3s;
}

.slider:hover {
  opacity: 0.7;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  padding: 1.2em 1em;
  display: flex;
  box-shadow: 0 10px 14px rgba(73, 76, 95, 0.034);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.sideTitle {
  font-size: 1rem;
  color: #707183;
  font-weight: bold;
}

.sidePrice {
  font-size: 3.25rem;
  margin: 0.3em 0;
  color: #4c4d5f;
  font-weight: bold;
}

.monthly {
  display: none;
}

.sideText {
  width: 80%;
  border-top: 1px solid;
  border-color: #dadada;
}

.sideText p {
  color: #6b6e86;
  padding: 1em 0;
  border-bottom: 1px solid;
  border-color: #dadada;
}
.sideButton {
  border: 1px solid;
  border-radius: 5px;
  margin-top: 1em;
  width: 80%;
  padding: 1em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 63%));
  cursor: pointer;
  outline: none;
}

.sideButton:hover {
  border-color: hsl(234, 14%, 74%);
  background: #ffffff;
  color: hsl(237, 63%, 64%);
}

.professional {
  background: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #ffffff;
  z-index: 100;
  transform: scale(1.1);
}

.middlePrice {
  font-size: 3.25rem;
  margin: 0.3em 0;
}

.middleText {
  width: 80%;
  border-top: 1px solid;
  border-color: #a1a7fb;
}

.middleText p {
  color: #fbfdff;
  padding: 1em 0;
  border-bottom: 1px solid;
  border-color: #a1a7fb;
}

.middleButton {
  border: 1px solid;
  border-radius: 5px;
  border-color: hsl(234, 14%, 74%);
  margin-top: 1em;
  width: 80%;
  padding: 1em;
  color: hsl(237, 63%, 64%);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}

.middleButton:hover {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 768px) {
  body {
    justify-content: stretch;
  }

  .top {
    margin-top: 2em;
  }

  .slider:hover {
    opacity: 1;
  }

  .bottom {
    gap: 2em;
    margin-bottom: 2em;
  }

  .professional {
    transform: scale(1);
  }

  .bgTop {
    max-width: 200px;
  }

  .bgBottom {
    display: none;
  }

  .sidePrice {
    font-size: 2.8rem;
  }

  .middlePrice {
    font-size: 2.8rem;
  }

  .sideText p {
    font-size: 0.75rem;
  }

  .middleText {
    font-size: 0.75rem;
  }
}
